body {
    padding: 10px;
}

.appHeader {
    background-color: #597eaa;
    padding: 5px;
    border: 3px solid black;
}

.headerText {
    font-size: 50px;
    font-weight: bold;
}

.headerButtonDiv {
    float: right;
    margin-top: -37px;
    margin-right: 19px;
}

.newTaskButton {
    background-color: #069b14;
    color: #fafbf8;
    border: 2px solid black;
}

.newTaskButton:hover {
    background-color: #058a13;
    color: white;
    border: 2px solid black;
}

.myTasksDiv {
    padding-left: 15px;
    font-weight: bold;
    font-size: 30px;
}

.tableBorder {
    border: 3px solid black;
}

.table {
    overflow-x: auto;
}

.completed {
    color: #c0c0c0;
    border: 3px solid black;
}

.tableHead {
    width: 100%;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalHeader {
    padding: 10px 15px;
    background-color: #597eaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.modalHeader .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modalHeader .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modalBody {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.submit {
    background-color: #069b14;
    color: #fafbf8;
    border: 1px solid black;
}

.submit:hover {
    background-color: #058a13;
    color: white;
    border: 1px solid black;
}

.cancel {
    background-color: #ad0404;
    color: white;
    border: 1px solid black;
}

.cancel:hover {
    background-color: #940202;
    color: white;
    border: 1px solid black;
}

th {
    margin-bottom: 1px;
    background-color: silver;
}

td {
    border: 1px solid black;
}

.icons {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.completedIcons {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    opacity: 50%;
}

p, label, input {
    margin: 1px;
}